.hero {
  height: 75.4rem - 6rem;
  background: url(../../images/bg-hero.jpg) 53rem 10rem no-repeat;

  @include tablet {
    background-position: bottom;
    background-size: 60rem;
  }

  @include mobile {
    background: 0;
    height: 50rem;
  }

  &__inner {
    margin-top: 13rem;
  }

  &__content {
    max-width: 38rem;
    margin: 5rem 0;

    @include mobile {
      display: inline-block;
    }
  }
}
