$cyan-blue: #4b5d68;
$blue: #212353;
$purple: #9c69e2;
$pink: #f063b8;
$green: #68c9ba;

$font-family-primary: avenir, sans-serif;
$font-family-secondary: Helvetica, sans-serif;

$normal: 400;
$medium: 500;
$bold: 700;
$extrabold: 800;
$black: 900;

$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;
